.change {
 
    margin-top: 110px;
    margin-bottom: 110px;
    margin-left: 110px;
    margin-right: 110px;
}

.change_sec{
    margin-top: 110px;
    margin-bottom: 110px;
    margin-left: 110px;
    margin-right: 110px;

}